<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageUrlStr</key>
		<string>http://h.hiphotos.baidu.com/image/pic/item/a044ad345982b2b76fc6a2cd33adcbef76099b5a.jpg</string>
		<key>imageWidth</key>
		<string>354</string>
		<key>imageHeight</key>
		<string>524</string>
	</dict>
	<dict>
		<key>imageUrlStr</key>
		<string>http://c.hiphotos.baidu.com/image/pic/item/a08b87d6277f9e2f8554bb091d30e924b899f34a.jpg</string>
		<key>imageWidth</key>
		<string>505</string>
		<key>imageHeight</key>
		<string>746</string>
	</dict>
	<dict>
		<key>imageUrlStr</key>
		<string>http://c.hiphotos.baidu.com/image/pic/item/d53f8794a4c27d1ef0b0a0c519d5ad6eddc43818.jpg</string>
		<key>imageWidth</key>
		<string>738</string>
		<key>imageHeight</key>
		<string>1082</string>
	</dict>
	<dict>
		<key>imageUrlStr</key>
		<string>http://e.hiphotos.baidu.com/image/pic/item/0d338744ebf81a4ccd5077c0d52a6059252da65d.jpg</string>
		<key>imageWidth</key>
		<string>500</string>
		<key>imageHeight</key>
		<string>666</string>
	</dict>
	<dict>
		<key>imageUrlStr</key>
		<string>http://g.hiphotos.baidu.com/image/pic/item/5243fbf2b2119313364c17b967380cd791238da8.jpg</string>
		<key>imageWidth</key>
		<string>500</string>
		<key>imageHeight</key>
		<string>500</string>
	</dict>
	<dict>
		<key>imageUrlStr</key>
		<string>http://a.hiphotos.baidu.com/image/pic/item/2cf5e0fe9925bc312c821dae5fdf8db1cb13702c.jpg</string>
		<key>imageWidth</key>
		<string>640</string>
		<key>imageHeight</key>
		<string>960</string>
	</dict>
	<dict>
		<key>imageUrlStr</key>
		<string>http://c.hiphotos.baidu.com/image/pic/item/d439b6003af33a878bd7cc13c45c10385343b505.jpg</string>
		<key>imageWidth</key>
		<string>619</string>
		<key>imageHeight</key>
		<string>1763</string>
	</dict>
	<dict>
		<key>imageUrlStr</key>
		<string>http://d.hiphotos.baidu.com/image/pic/item/8601a18b87d6277f0dda86312a381f30e824fceb.jpg</string>
		<key>imageWidth</key>
		<string>449</string>
		<key>imageHeight</key>
		<string>600</string>
	</dict>
	<dict>
		<key>imageUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/908fa0ec08fa513da739f7d73f6d55fbb2fbd92c.jpg</string>
		<key>imageWidth</key>
		<string>600</string>
		<key>imageHeight</key>
		<string>581</string>
	</dict>
	<dict>
		<key>imageUrlStr</key>
		<string>http://f.hiphotos.baidu.com/image/pic/item/960a304e251f95ca1cb34ebbcb177f3e6709527d.jpg</string>
		<key>imageWidth</key>
		<string>557</string>
		<key>imageHeight</key>
		<string>799</string>
	</dict>
	<dict>
		<key>imageUrlStr</key>
		<string>http://e.hiphotos.baidu.com/image/pic/item/d439b6003af33a8745c49a17c45c10385343b516.jpg</string>
		<key>imageWidth</key>
		<string>334</string>
		<key>imageHeight</key>
		<string>631</string>
	</dict>
</array>
</plist>
